<div class=" text-white dark:text-[#060717] h-[93%] w-full inline-flex  flex-col justify-center items-start">
    <h2 #nom class="font-futura text-3xl -mt-[100px] z-10">Randriamihanta</h2>
    <h2 class="font-futura text-3xl z-10">Judex</h2>
    <div #lineOne class="lineOne bg-white dark:bg-[#060717] h-[1.5px] mt-2"></div>
    <div #lineTwo class="lineTwo bg-white dark:bg-[#060717] h-[1.5px] mt-3"></div>
    <h3 class="font-raboto mt-5 z-10">Developpeur <span
            class="bg-white dark:bg-[#060717] dark:text-white text-[#060717] p-1 rounded-lg">Frontend</span> </h3>
    <p class="font-raboto mt-5 text-sm text-justify z-10">Bonjour,
        Je suis  <span class="font-extrabold ">développeur</span> web en début de carrière, déterminé à
        <span class="font-extrabold ">réussir</span> dans ce domaine. Afin d'atteindre cet
        objectif, je suis prêt à relever tous les <span class="font-extrabold ">défis</span> qui se
        présenteront à moi, quelle que soit leur complexité. Je
        vous invite à me contacter pour toute collaboration ou proposition liée au <span
            class="font-extrabold ">développement informatique</span>.
    </p>
    <button class="bg-white mt-6 text-[#060717] rounded-xl px-4 py-1 z-10 ">Contact</button>
</div>