<div class=" text-white dark:text-[rgb(54,54,54)] h-auto">
     <!-- PRESENTATION -->
    <div class="h-[60vh] w-full inline-flex  flex-col justify-center items-start mt-[15vh]">
        <h2 #nom class="font-mont text-4xl -mt-[100px] z-10 text-[#00b89f]">Randriamihanta</h2>
        <h2 class="font-mont text-4xl z-10 text-[#00b89f]">Judex</h2>
        <div #lineOne class="lineOne bg-[#00b89f] h-[1.5px] mt-2"></div>
        <div #lineTwo class="lineTwo bg-[#00b89f] h-[1.5px] mt-3"></div>
        <h3 class="font-mont mt-5 z-10 text-xl text-white dark:text-[#363636] "><span
                class="font-bold text-2xl text-[#00b89f] ">Frontend</span> developer
        </h3>
        <p class="font-raboto mt-2 text-xs text-justify z-10 text-white dark:text-[#363636] ">
            Hello,
            I am a web <span class="font-extrabold text-[#00b89f]">developer</span> seeking my first job, determined to
            succeed in this field. To achieve this,
            I am ready to take on any <span class="font-extrabold text-[#00b89f]">challenges</span>, regardless of their
            complexity. Feel free to contact me for
            any <span class="font-extrabold text-[#00b89f]">collaboration</span> or <span
                class="font-extrabold text-[#00b89f]">opportunities</span> related to software development.
        </p>

        <button
            class="bg-[#00b89f] font-mont dark:text-white mt-10 text-white rounded-lg px-4 py-1 z-10 text-xl">Contact</button>

    </div>

    <!-- PROJET -->
    <div class="w-full">
        <h2 class="font-mont text-[#00b89f] text-3xl mb-6">Project</h2>
        <app-project></app-project>
        <app-project></app-project>
    </div>

</div>