<div class="w-[100vw] -ml-[13%]  ">
    <div class="flex flex-col dark:text-white dark:bg-[#363636] text-white bg-[#00b89f] items-center py-7 gap-1 ">
        <p class="font-mont">Let's talk on</p>
        <div class="flex flex-col gap-5">
            <div class="flex gap-4 text-2xl ">
                <fa-icon [icon]="messenger"></fa-icon>
                <fa-icon [icon]="linkedIn"></fa-icon>
                <fa-icon [icon]="discord"></fa-icon>
                <fa-icon [icon]="insta"></fa-icon>
                <fa-icon [icon]="gmail"></fa-icon>
            </div>
            <button class="bg-white text-[#00b89f] rounded-md dark:bg-[#00b89f] p-1 dark:text-white w-full">Download my cv</button>
        </div>
        
    </div>
    <div class="w-full text-[#363636] dark:text-white dark:bg-[#00b89f] bg-white flex justify-center items-center text-xs font-raboto">
            <p >Made with <fa-icon [icon]="flamme" class="text-red-500"></fa-icon> by Judex</p>
    </div>
</div>